.owners {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon--rebel {
  width: 100px;
  height: 100px;
}

.detailsCard {
  width: 50rem;
  height: 20rem;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  background-color: #FFF4D5;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-name {
  text-align: center;
  margin: 5px;
  padding: 2px;
 }

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}