.animals {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon--dog {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card {
  width: 10rem;
  border: .5px solid black;
  box-shadow: 1px 1px 1px black;
  background-color: #FFF4D5;
  margin: 10px;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-name {
  text-align: center;
  margin: 5px;
  padding: 2px;
 }

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}