.kennel {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.locations {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  border: .5px solid black;
  box-shadow: 1px 1px 1px black;
  background-color: #FFF4D5;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-name {
  text-align: center;
  margin: 10px;
 }

.card-address {
  margin: 5px;
  padding: 2px;
 }

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}

.detailsCard {
  width: 50rem;
  height: 20rem;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  background-color: #FFF4D5;
  border-radius: 10px;
  text-align: center;
}