.employees {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon--employee {
  width: 100px;
  height: 100px;
  border: 1.5px solid black;
  border-radius: 50%;
}

